<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MercadoLiebre | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1e30e80be2.js" crossorigin="anonymous"></script>

</head>

<body class="home">
    <header class="home-header">
        <div class="home-header-div-logo">
            <img class="home-header-img-logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </div>
        <form class="home-header-input" action=""><input type=""placeholder="Buscar productos, marcas"></form>
        <button class="home-header-search"><i class="fa-solid fa-magnifying-glass"></i></button>
        
        <p class="home-header-hand-holding"><i class="fa-solid fa-hand-holding-dollar"></i>comprá en cuotas y sin tarjeta de crédito</p>
        <section class="home-header-section-menu-1">
            <nav class="home-header-nav-menu-1">
                <ul>
                    <li><a class="home-header-li-a-menu-1" href="">Ofertas</a></li>
                    <li><a class="home-header-li-a-menu-1" href="">Tiendas Oficiales</a></li>
                    <li><a class="home-header-li-a-menu-1" href="">Vender</a></li>
                    <li><a class="home-header-li-a-menu-1" href="">Ayuda</a></li>
                </ul>
            </nav>
        </section>
        <section class="home-header-section-menu-2">
            <nav class="home-header-nav-menu-2">
                <ul class="home-header-nav-ul-menu-2">
                    <li><a class="home-header-nav-a-menu-2" href="#Creatucuenta">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a class="home-header-nav-a-menu-2" href="#Ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                        <li><a class="home-header-nav-a-menu-2" href="#Miscompras">Mis compras <i class="fa-solid fa-basket-shopping"></i>
                </ul>
            </nav>
        </section>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <main class="home-main">
        <div class="home-main-div-banner">
            <img class="home-main-div-banner-img" src="/images/img-home-banner.jpg" alt="">
        </div>
        <section class="home-main-section">
            <h2 class="home-main-section-h2-title">Basado en tu última visita</h2>
            <article>
                <div class="home-main-div-h2-ultima-Visita">
                    <img class="home-main-div-img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <div class="home-main-div-product-ultima-visita-descripcion">
                    <p class="home-main-div-product-precio-h4">$6.770</p>
                    <p class="home-main-div-product-descuento-h4">40% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <div class="home-main-div-h2-ultima-Visita">
                    <img class="home-main-div-img" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                </div>
                <div class="home-main-div-product-ultima-visita-descripcion">
                    <p class="home-main-div-product-precio-h4">$230.000</p>
                    <p class="home-main-div-product-descuento-h4">20% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">macbook Pro 2019</h4>
                </div>
            </article>
            <article>
                <div class="home-main-div-h2-ultima-Visita">
                    <img class="home-main-div-img" src="/images/img-samsung-galaxy-s10.jpg" alt="sansung">
                </div>
                <div class="home-main-div-product-descripcion">
                    <p class="home-main-div-product-precio-h4">$70.500</p>
                    <p class="home-main-div-product-descuento-h4">10% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">Sansung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div class="home-main-div-h2-ultima-Visita">
                    <img class="home-main-div-img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                </div>
                <div>
                    <p class="home-main-div-product-precio-h4">$23.200</p>
                    <p class="home-main-div-product-descuento-h4">5% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section class="home-main-section">
            <h2 class="home-main-section-h2-title">Sección de Ofertas</h2>
            <article>
                <div class="home-main-div-product-ofertas">
                    <img class="home-main-div-img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <div>
                    <p class="home-main-div-product-precio-h4">$6.770</p>
                    <p class="home-main-div-product-descuento-h4">40% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <div>
                    <img class="home-main-div-img" src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                </div>
                <div>
                    <p class="home-main-div-product-precio-h4">$230.000</p>
                    <p class="home-main-div-product-descuento-h4">20% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">macbook Pro 2019</h4>
                </div>
            </article>
            <article>
                <div>
                    <img class="home-main-div-img" src="/images/img-samsung-galaxy-s10.jpg" alt="sansung">
                </div>
                <div>
                    <p class="home-main-div-product-precio-h4">$70.500</p>
                    <p class="home-main-div-product-descuento-h4">10% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">Sansung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div>
                    <img class="home-main-div-img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                </div>
                <div>
                    <p class="home-main-div-product-precio-h4">$23.200</p>
                    <p class="home-main-div-product-descuento-h4">5% off</p>
                    <h4 class="home-main-div-product-descripcion-h4">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer class="home-footer">
        <section class="home-section-footer">
            <h4 class="home-footer-section-h4">Pagá con tarjeta o en efectivo</h4>
            <p class="home-footer-section-p">
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
        </section>
        <section class="home-section-footer">
            <h4 class="home-footer-section-h4">Envío gratis desde los $2.500</h4>
            <p class="home-footer-section-p">
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </section>
        <section class="home-section-footer">
            <h4 class="home-footer-section-h4">Seguridad de principio a fin</h4>
            <p class="home-footer-section-p">
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.
            </p>
            <p class="home-footer-section-p">Copyright 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>