<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>MercadoLiebre | Home</title>

</head>

<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </div>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <section>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <nav>
                <ul>
                    <li><a href="">Creá tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis compras</a></li>
                </ul>
            </nav>
        </section>

    </header>
    <main>
        <div>
            <img src="/images/img-home-banner.jpg" alt="">
        </div>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                </div>
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h4>macbook Pro 2019</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="sansung">
                </div>
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h4>Sansung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                </div>
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <div>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                </div>
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h4>macbook Pro 2019</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="sansung">
                </div>
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h4>Sansung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv">
                </div>
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
        </section>
        <section>
            <h4>Envío gratis desde los $2.500</h4>
            <p>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </section>
        <section>
            <h4>Seguridad de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@.
            </p>
            <p>Copyright 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>